
html{
overflow-x: hidden;
}
/* CSS Document */
/* body {
	background: #212121;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	} */

nav h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

nav h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
}

nav h3 a {
	color: #FFF;
}

nav a {
	color: #FFF;
}

nav h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	}

nav #container {
	margin: 0 auto;
	max-width: 890px;
}

#logo a{
    padding: 0 !important;
}

nav p {
	text-align: center;
}
nav form i{
    position: absolute;
    padding: 6px 0px;
    margin-left: -59px;
    color: var(--color-grey);
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
    box-shadow:0 0 8px var(--color-grey) ;
    padding: 2rem 3rem;
}

#logo {
    width: max-content;
    height: max-content;
	display: block;
	padding: 0 20px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	padding:0;
	list-style: none;
	position: relative;
    background-color: var(--color-white);
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
    color: var(--color-grey);
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color: var(--color-grey);
	font-size:17px;
	text-decoration:none;
}

.search_bar{
    border: none;
    background-color: var(--color-grey-light1);
    margin-top: 0.7rem;
    width: 25rem;
}


nav ul li ul li:hover { 
    color: var(--color-black);
    background-color: var(--color-white);
 }

/* Background color change on Hover */
nav a:hover { 
	color: var(--color-black);
    background-color: var(--color-white);
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	ul li i{
        color: var(--color-grey);
    }
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

nav .shop_now_btn2{
    float: right;
    margin-top: -3.5rem;
}

.navbar{
    box-shadow:0 0 8px var(--color-grey) ;
    padding: 2rem 3rem;
}
.navbar_items{
    width: 100%;
}
.navbar-brand{
    width: auto;
}
.navbar-expand-lg .navbar-collapse{
    flex-direction: column;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
}
.navbar button{
    float: right;
    margin-top: -30px;
}
/* .navbar-expand-lg .navbar-collapse{
        display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
}
.navbar-nav{
    width: 100%;
}
.navbar-nav .nav-item{
    width: 20%;
    text-align: center;
} */
.main_heading{
    color: var(--color-green-light);
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: 'Ubuntu', sans-serif;
}
.primary_heading{
    margin-bottom: 1rem;
    color: var(--color-navy_blue);
    font-family: 'Ubuntu', sans-serif;
}
.secondary_heading{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-green-light);
    font-family: 'Ubuntu', sans-serif;
}
.tertiary_heading{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-navy_blue);
    font-family: 'Ubuntu', sans-serif;
}
.quaternary_heading{
    font-size: 16px;
    font-weight: 700;
    color: var(--color-white);
    font-family: 'Ubuntu', sans-serif;
}
.primary_info{
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}
.secondary_info{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
.tertiary_info{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-navy_blue);
    font-family: 'Ubuntu', sans-serif;
}
.quaternary_info{
    font-size: 32px;
    font-weight: 600;
    color: var(--color-white);
    font-family: 'Ubuntu', sans-serif;
}
.price_info{
    font-weight: 700;
    font-size: 19px;
    color: var(--color-black);
    font-family: 'Ubuntu', sans-serif;
}
.card-title {
    font-weight: 700;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
}
.categories_section .tertiary_heading,
.categories_section .tertiary_info{
    color: var(--color-white);
}

/*Colors Classes*/
.light_cream{
    background-color: var(--color-cream-light);
}
.light_grey{
    background-color: var(--color-grey-light1);
}
.light_blue{
    background-color: var(--color-blue-light1);
}
.light_blue2{
    background-color: var(--color-blue-light2);
}
.green_color{
    background-color: var(--color-green-light1);
}
.yellow_light{
    background-color: var(--color-yellow-light);
}
.violet_light{
    background-color: var(--color-violet-light);
}
.violet_color{
    background-color: var(--color-violet);
}
.navy_blue{
    background-color: var(--color-navy_blue);
}
.navy_blue_light{
    background-color: var(--color-navy_blue_light);
}
.radial_gradient_blue{
    background:radial-gradient(var( --color-violet-light1),var(--color-violet-dark));
}
.radial_gradient_orange{
    background:radial-gradient(var( --color-orange-light),var(--color-orange-dark));
}
.row_gap{
    row-gap: 0.8rem;
}
.card{
    width: 100%;
    padding: 1rem;
    border: none;
    filter: drop-shadow(0 0 0.08rem #d4d4d4);
    cursor: pointer;
}
.card_header{
    display: flex;
    justify-content: space-between;
}
.card_header .offer,
.card_header .new{
    padding: 3px;
    margin: 1rem;
    border-radius: 14px;
    width: 4rem;
    height: 1.5rem;
    font-size: 11px;
    color: var(--color-white);
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
}
.card_header .offer{
    background: var(--color-green-light);
}
.card_header .new{
    background-color: var(--color-red);
}
.product_details{
    width: 115%;
}
.product_details .tertiary_info{
    font-size: 1.2rem;
}
.product_details .tertiary_heading{
    color: var(--color-grey);
}
.related_products{
    width:120%
}
.product_details2{
    width: 135%;
}
.icon{
    padding: 1rem;
    justify-content: end;
    display: flex;

}
.icon i{
    font-size: 1.5rem;
    color: var(--color-black);
}
.categories_section .card{
    height: 10rem;
}

.top_products_section .card_img,
.people_viewed_section .card_img,
.other_products_section .card_img{
    height: 8rem;
    width: 100%;
    /* border: 1px solid; */
}

/*Buttons*/
.shop_now_btn1,
.shop_now_btn2,
.shop_now_btn3{
    font-size: 13px;
    font-weight: 600;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
}
.shop_now_btn1{
    background-color: var( --color-navy_blue);
    color: var(--color-white);
}
.shop_now_btn2{
    background-color: var( --color-yellow);
    color: var(--color-navy_blue);
}
.shop_now_btn3{
    background-color: var( --color-green-light);
    color: var(--color-white);
}
.slide_buttons{
    display: flex;
    justify-content: end;
}
.left_arrow i,.right_arrow i{
padding: 1rem;
cursor: pointer;
}
.left_arrow i:hover,.right_arrow i:hover{
    background: var(--color-grey-light);
    padding: 1rem;
    border-radius: 50%;
}

/*Counting products*/
.counter{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-grey-light);
    border-radius: 5px;
    margin-top: 1.5rem;
   }

   span{
    font-family: 'Ubuntu', sans-serif;
   }

.btn1{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
   }
.count{
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 9px;
    font-family: ‘Open Sans’;
    font-weight: 500;
    color: #202020;
    background-color: var(--color-grey-light3);
    /* border: 1px solid; */
    border-left: 1px var(--color-grey);
    border-right: 1px var(--color-grey);
   }
   a{
       text-decoration: none;
       color: var(--color-white);
   }
.footer_img{
    background-color: var( --color-navy-blue-dark1);
   }
.footer_img .secondary_info{
    color: var(--color-white);
    font-size: 26px;
    margin-bottom: 8px;
   }
.footer_img .tertiary_heading{
    color: var(--color-white);
    margin-left: 1.4rem !important;
   }
.footer .selling_online{
    padding: 4rem 0;
    text-align: center;
   }
.footer .mail_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.2rem;
    width: 100%;
}
.footer .mail_box input{
    height: 2.3rem;
    margin: 0 1rem;
    width: 17rem;
}
.footer_content{
    padding: 3.2rem;
}
.footer_content .tertiary_heading{
    color:var(--color-grey-light2);
    font-weight: 400;
}
.footer_content a{
    text-decoration: none;
}
.footer_content a:hover{
    text-decoration:underline ;
}
.social_icons i{
    margin: 5px;
    padding: 8px;
    background-color: var(--color-grey-light1);
    border-radius: 50%;
    color: var(--color-grey);
}
.copyright_paycards_row {
    margin-top: 2rem;
    border-top: 1px solid var(--color-grey-light);
    display: flex;
    justify-content: space-between;
}
.copyright_paycards_row .copyright,
.copyright_paycards_row .pay_cards{
    padding: 2rem 0;
}
.copyright_paycards_row img{
    height: 1.5rem;
}
.pay_cards{
    display: flex;
}
.pay_card{
    box-shadow: 0 0px 1px grey;
    padding: 2px 6px;
    width: 52px;
    margin: 0 5px;
    text-align: center;
}
.pay_card img{
    height: 1.8rem;
}


@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
@media screen and (min-width:425px){
    /* .top_products_section .card, 
    .people_viewed_section .card, 
    .other_products_section .card{
       
    } */
    .gift_btn {
        margin-left: 6.5rem;
    }
    .categories_section .card{
        height: 9rem;
    }
    .card_header .offer,
    .card_header .new{
        width: 3.5rem;
        margin: 10px;
    }
    .card_header .offer span,
    .card_header .new span{
        font-size: 9px;
    }
    .icon{
        padding: 10px;
        align-items: center;
    }
    .icon i{
       font-size: 1rem;
    }
    .product_details,
    .related_products{
       width: 100%;
    }
    .product_details .tertiary_heading{
        font-size: 10px;
    }
    .product_details .tertiary_info{
        font-size: 15px;
    }
    .related_products img {
        height: 6rem;
    }
    .price_info{
        font-size: 15px;
    }
    .quaternary_heading {
        font-size: 13px;
    }
    .tertiary_info{
        font-size: 1rem;
    }
    .quaternary_info{
        font-size: 25px;
        margin-bottom: 8px;
    }
    .quaternary_heading{
        font-size: 15px;
    }
    .hot_offers_section button{
        margin: 10px 0;
    }
    .product_details .row, 
    .product_details2 .row{
        flex-wrap: nowrap;
    }
    .card_header .new{
        margin-top: 0.5rem;
    }
    .footer .selling_online {
        padding: 2rem 0;
    }
    .footer .mail_box{
        padding: 2rem;
        height: auto;
    }
    .footer .mail_box input{
        width: 13rem;
    }
    .footer .mail_box input{
        font-size: 13px;
        padding: 8px 9px;
    }
    .footer_content{
        padding: 1rem 3.2rem;
    }
    .footer_content .tertiary_info{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .copyright_paycards_row{
        display: block;
    }
    .copyright_paycards_row .copyright, .copyright_paycards_row .pay_cards{
        padding: 1rem 0;
    }
}
@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: max-content;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}
    nav .row{
        justify-content: space-between;
    }
    nav .shop_now_btn2 {
        /* float: right; */
        margin-top: 1.5rem;
        margin-left: -10px;
        float: left;
    }

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,.menu{
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
        width: auto;
        height: max-content;
		background-color: var(--color-white);
		padding:10px;	
		color:var(--color-grey);
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: var(--color-white);
        color: var(--color-black);
	}

	/* Display Dropdown when clicked on Parent Lable */
	
    [id^=drop]:checked + ul{
		display: block;
	}
   
    /* [id^=drop]:checked + .menu {
		display: block;
	} */
    /* [id^=drop]:checked + .menu_2 {
		display: none;
	} */
  
	/* Change menu item's width to 100% */
    nav a{
        padding: 14px 0px;
    }
	nav ul li {
		display: block;
        text-align: center;
		width: 100%;
		}
        nav form{
            width: 100%;
            display: flex;
            justify-content: center;
        }
	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover{
        box-shadow:0 0 3px var(--color-grey) ;
        color: var(--color-black);
    }
 	nav ul ul ul a {
        box-shadow:0 0 3px var(--color-grey) ;
        color: var(--color-grey);
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:var(--color-black);
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul {
      border: 1px solid var(--color-grey);
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}
    .search_bar{
        width: 18rem ;
    }
    form i{
        margin-left: -40px;
        margin-top: 0.1rem;
    }
    /* .gift_btn{
        margin-left: 17.5rem ;
    } */

}
@media screen and (min-width:1024px){
    nav .menu{
        display: contents;
    }
    nav a{
        padding: 14px 24px !important;
    }
    .search_bar{
        width: 17rem;
    }
    form i{
        margin-left: 212px;
        margin-top: -2.9rem;
    }
    .gift_btn{
        margin-top: 4rem;
        margin-left: 9rem;
    }
    .shop_now_btn1, .shop_now_btn2, .shop_now_btn3{
        font-size: 12px;
    }
    .product_details{
        width: 130%;
    }
    .icon i{
        font-size: 1.5rem;
     }
    .card_header .offer, .card_header .new {
        padding: 3px;
        margin: 1rem;
        border-radius: 14px;
        width: 4rem;
        height: 1.5rem;
        font-size: 11px;
    }
    .product_details .tertiary_info{
        font-size: 1.1rem;
    }
    .product_details .price_info{
        font-size: 19px;
    }
    .product_details, .related_products{
        width: 140%;
    }
    .product_details .card{
        padding: 1rem;
    }
    .related_products{
        width: 160%;
    }
    .other_related_products .card{
        display: flex;
    }
    .footer .mail_box {
        padding: 3rem 2rem;
    }
    .footer .mail_box input {
        width: 14rem ;
    }
}
@media screen and (min-width:1280px){
    nav .row{
        flex-wrap: nowrap;
    }
    nav .logo{
        height: max-content;
    }
    nav .menu{
        width: 100%;
       flex-wrap: wrap;
       display: flex;
    }
    nav a{
        padding: 14px 35px;
    }
    nav form i{
        margin-top: -3.1rem !important;
        margin-left: 450px !important;
        padding: 10px 110px;
    }
    .search_bar{
        width: 32rem;
    }
    nav .nav_row2{
        margin-left: -1rem;
    }
    .gift_btn {
        margin-top: 4rem;
        margin-left: 20rem;
    }
    .product_details{
        width: 130%;
    }
    .related_products {
        width: 158%;
    }
    .icon {
        padding: 0;
    }
    .icon i{
        font-size: 1.5rem;
     }
    .card_header .offer, .card_header .new {
        padding: 3px;
        margin: 0;
        border-radius: 14px;
        width: 4rem;
        height: 1.5rem;
        font-size: 11px;
    }
    .product_details .tertiary_info{
        font-size: 1.1rem;
    }
    .product_details .price_info{
        font-size: 19px;
    }
    .other_related_products .card{
        display: flex;
    }
    .footer .mail_box {
        padding: 3rem 2rem;
    }
}
@media screen and (min-width:1440px){
    nav a{
        padding: 14px 40px !important; 
    }
    nav .menu{
        display: flex;
        flex-wrap: wrap;
    }
    
    form .search_bar{
        width: 25rem !important;
    }
    nav form i{
        padding: 10px 0px !important;
        margin-left: 342px !important;
    }
    .gift_btn {
        margin-left: 70rem;
        margin-top: 1rem;
    }
    .product_details{
        width: 130%;
    }
    .related_products {
        width: 158%;
    }
    .icon {
        padding: 0;
    }
    .icon i{
        font-size: 1.5rem;
     }
    .card_header .offer, .card_header .new {
        padding: 3px;
        margin: 0;
        border-radius: 14px;
        width: 4rem;
        height: 1.5rem;
        font-size: 11px;
    }
    .product_details .tertiary_info{
        font-size: 1.1rem;
    }
    .product_details .price_info{
        font-size: 19px;
    }
    .other_related_products .card{
        display: flex;
    }
    .footer .mail_box {
        padding: 3rem 2rem;
    }
}
