.payment_info{
    width: 58%;
}
.order_summary{
    width: 40%;
    margin-left: 2%;
}
.payment_section{
    padding: 3rem;
}
.payment_details .person,.payment_details ._company{
    width: 8.5rem;
    height: 2.1rem;
    font-size: 14px;
    margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px var(--color-grey);
}
.person i,._company i{
    margin-right: 10px;
}
.payment_details input,
.payment_details input::placeholder{
 font-size: 0.8rem;
 padding: 15px 8px;
 vertical-align: middle;
}

.payment_details .tertiary_info{
 margin: 0;
}
.payment_section .inputbox{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-top: 0.5rem;
}
.payment_section input{
    width: 8.5rem;
    height: 2.1rem;
    margin: 0.5rem 0 0 0;
    padding: 15px 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 2px var(--color-grey);
}
.payment_details ,.shipping_details{
    padding: 1.5rem;
    box-shadow: 0 0 2px var(--color-grey);
}
.payment_details .tertiary_info{
    font-size: 0.8rem;
    color: var(--color-grey);
}
.payment_details label{
    font-size: 0.8rem;
}
.info_row{
    margin: 0.8rem 0 0 0;
}
.cards_section{
    margin-top: 2rem;
}
.saved_cards{
    display: flex;
}
.saved_cards img{
    height: 6rem;
}
.payment_card{
    margin-right: 1rem;
}
.payment_card .add_card{
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--color-blue-light3);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.payment_card .add_card i{
    color: var(--color-blue);
}
.order_info{
    display: flex;
}
.items{
    padding: 1.5rem;
    box-shadow: 0 0 2px var(--color-grey);   
}
.item{
    margin-top: 1rem;
}
.item img{
    height: 6rem;
    width: 4.5rem;
}
.items .counter{
    margin: 0;
}
.items .tertiary_info{
    font-size: 0.8rem;
    color: var(--color-grey);
}
.item_price_info{
    margin-top: 2rem;
}
.more_icon i{
    height: 25px;
    width: 25px;
    color: var(--color-grey);
    box-shadow: 0 0 2px var(--color-grey-light2);   
    padding: 7px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.place_order_btn button{
    width: 12rem;
}
.shipping_details_section{
  margin-top: 2rem;
}
.shipping_details{
    width: 55%;
}
.shipping_details .tertiary_info{
    font-size: 0.8rem;
    color: var(--color-grey);
    margin: 0;
}
.shipping_address{
    width: fit-content;
    padding: 1rem 3rem 1rem 1rem;
    box-shadow: 0 0 2px var(--color-grey-light2);  
    border-radius: 8px; 
    margin-top: 1rem;

}
@media screen and (min-width:1024px){
    .order_info{
        display: flex !important;
    }
    .payment_info{
        width: 58% !important;
    }
    .order_summary{
        width: 40% !important;
        margin-left: 2% !important;
        margin-top: 0 !important;
    }
}
@media screen and (min-width:768px) {
    .payment_info,
    .order_summary {
        width: 100%;
    }
    .order_summary{
        margin-top: 3rem;
        margin-left: 0;
    }
    .item img {
        height: 8rem;
        width: 10rem;
    }
    .order_info{
        display: block;
    }
}
@media screen and (min-width:425px) {
    .payment_info,
    .order_summary {
        width: 100%;
    }
    .order_info{
        display: block;
    }
    .payment_section input{
        width: 7.5rem;
    }
    .saved_cards{
        display: block;
    }
    .payment_card{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .saved_cards .add_card{
        width: 55%;
        height: 2rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    
    }
    .order_summary{
        margin-top: 2rem;
    }
}
@media screen and (min-width:425px){
    .saved_cards{
        display: flex;
    }
    .saved_cards .add_card{
        height: 6rem;
    }
}