.order_placed_row{
    text-align: center;
    padding: 10rem 0;
}
.order_placed_row .order_primary_text{
    color: var(  --color-green-light);
}
.order_placed_row .confirmation_text{
    font-size: 18px;
    font-weight: 600;
    color: var(--color-grey);
}